
/*  Template Name : Joyashree
    Author : zayerTheme
    Version : 0.1



/*Google Font*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700'); /*This is Google font. clint can change it.*/

@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Chonburi');
.contact{
    overflow-x: hidden;
}
body {
    background-image: url('http://localhost/GreenValley/images/bg3image.jpg');
    background-repeat: repeat;
	/*overflow-x:hidden;*/
}
.banner{
	background-color:  white;
    position: relative;
    z-index: 2;
}
.navbar-collapse{
    position: relative;
    z-index: 3;
}
.navbar-default .navbar-nav > li > a{
    color: green;
}
a:hover {
    text-decoration: none;
    color: blue;

}
.cart_h1{
    font-size:40px;
    color: #4a235a;
    text-align: center;
}
.ex{
	color:green;
    font-size:10px;
}
a.ex:hover, a.ex:active{
	 text-decoration: none;
     color: #4cae4c;

}


header {
    background: #FFFFFF;
}

li{
    list-style:none;
}
a {
    text-decoration:none;
    color: green ;
}

.navbar {
    font-size:10px;
    font-family: BAUHS93;
    top: 0;
    bottom: 0;
    margin: 15px auto;
    padding: 0 20px;
    height: 76px;;
    background-color: white;
}

.navbar .brand {
    float: left;
    width: -1%;
    text-transform: uppercase;
    margin-top: 15px;
}

.navbar .brand h1 {
    margin: 0px;
    margin-top: 10px;
    padding-bottom: 5px;
    color:  #229954;
    font-size:32px;
    font-family:Lobster;
}


.navbar .links {
    float:left;
    width: 70%;
    color:  green ;
    font-weight:bold;
    margin-left: 28px;

}

.navbar .links  >li {
    display: inline-block;
    padding: 15px 9px;
    margin:  0 -3px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
/* Start Hover and Activer*/
.links  .active a,
.links  >li:hover a {
    color:  #4a235a ;
	text-decoration: none;
	//margin-right: 10px;

}
.links  .active,
.links  >li:hover{
    background-color:#d5dbdb ;
    color:  #145a32  ;
    height: 10%;
    border-radius: 10px;
}
.links  >li:hover .dropdown {
    color: #d5dbdb;
}


/* Start Hover and Activer*/
.navbar .links .menu {
    position: relative;
}
.navbar .links .menu .dropmenu {
    position: absolute;
    top: 59px;
    left: 0px;
    width: 205px;
    background-color:#d5dbdb;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:3px;
    -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 1px rgba(0, 0, 0, .5);
    box-shadow:0 1px 1px rgba(0, 0, 0, .5);
    z-index: 9999;
    display: none;
	border-radius:10px;
	

}
.navbar  .menu .dropmenu li {
    padding: 10px
}
.navbar  .menu .dropmenu li:hover{
    background-color: #C0C0C0;
    color:  #145a32 ;
    font-size: 10px;
}
.fa-lg {vertical-align:-5%}
.navbar  .dropmenu:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 40px;
    top: -6px
}
.navbar .menu:hover .dropmenu {
    display: block;
}
/* End Navber*/
.row{
	margin-top:30px;
}
.row2{
	margin-top:50px;
}


.row_image{
    display: inline-block;
    float: left;
    padding: 20px 8px;
    width: 33.33%;
    overflow:hidden;
}
@media screen and (max-width: 500px) {
    .row_image {
        width: 100%;
    }
}


.text {
    background: #CCCCCC;
    margin-top: -103px;
}

.maintext {
    background: #ffffff;
    padding: 150px 30px 70px;
    border-radius: 20px;
}

.maintext > p:first-child {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.maintext > p:nth-child(2){
    text-align: justify;
}


h3{
    /text-align: center;
    color: white;
    margin: 0px 0px 10px 0px;
}

.carousel-control {
    position: absolute;
    margin-top: 90px;
    bottom: 0;
    left: 0;
    width: 10%;
	height: 70%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}



.fa{font-size:23px}



.register {
  position: relative;
  float:left;
  margin-top:30px;
  padding: 20px 20px 20px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.reg_section {
  padding:0;
  margin: 20px 0;
  border-bottom: 2px dotted #eee;
}
.reg_section h3 {
  font-size: 15px;
  margin: 5px 0;
  color: #C4A2A2;
}
input {
  font-family:"Trebuchet MS",tahoma;
  font-size: 15px;
}

input[type=text],input[type=email], input[type=password], .register textarea {
  margin: 5px;
  padding: 0 20px;
  height:45px;
  width: 400px;
  color: #404040;
  background: #fff;
  border-width: 2px;
  border-style: solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius:5px;
  --webkit-border-radius: 5px;
  outline:3px solid rgba(200, 105, 137, 0.09);
  -moz-outline-radius:7px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  margin:10px 0;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=textarea]:focus{
  border-color:#FFF7F9;
  outline-color:rgba(254, 225, 235, 0.7);
  outline-offset: 0;
}
input[type=submit] {
  padding:5px 10px;
  height: 30px;
  width:70px;
  font-size: 15px;
  font-weight: bold;
  color:#FFFFFF;
  text-shadow:0 1px #4D1124;
  border-width: 1px;
  border-style: solid;
  border-color:#693647;
  border-radius: 7px 7px 7px 7px;
  outline: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #7D0F33;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #AA1E4D), color-stop(100%, #7D0F33));
  background-image: -webkit-linear-gradient(top, #AA1E4D, #7D0F33);
  background-image:-moz-linear-gradient(center top, #AA1E4D, #7D0F33);
  background-image: -ms-linear-gradient(top, #AA1E4D, #7D0F33);
  background-image: -o-linear-gradient(top, #AA1E4D, #7D0F33);
  background-image: linear-gradient(top, #AA1E4D, #7D0F33);
  -webkit-box-shadow:0 1px #CD4170 inset, 0 1px 2px #93284C;
  -moz-box-shadow:0 1px #CD4170 inset, 0 1px 2px #93284C;
  box-shadow:0 1px #CD4170 inset, 0 1px 2px #93284C;
}
.register textarea {
  height: 70px;
  padding: 10px;
  color: #C9C9C9;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img
{
    height: 370px;
}



.item{
    height: 490px;
}
.login:hover{
background-color: #fff;

}

/*scroll to top css start*/


.smoothscroll-top {
    position:fixed;
    opacity:0;
    visibility:hidden;
    overflow:hidden;
    text-align:center;
    z-index:99;
    background-color:#96c950;
    color:#fff;
    width:47px;
    height:44px;
    line-height:44px;
    right:25px;
    bottom:-25px;
    padding-top:2px;
    border-radius:5px;
    transition:all .5s ease-in-out;
    transition-delay:.2s;
}

.smoothscroll-top:hover {
    background-color:#96c950;
    color:#fff;
    transition:all .2s ease-in-out;
    transition-delay:0;
}

.smoothscroll-top.show {
    visibility:visible;
    cursor:pointer;
    opacity:1;
    bottom:25px;
}

.smoothscroll-top i.fa {
    line-height:inherit;
}


/*shop*/

.column {
    margin: 15px 10px 0;
    padding: 0;
}
.column:last-child {
    padding-bottom: 60px;
}
.column::after {
    content: '';
    clear: both;
    display: block;
}
.column div {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    margin: 0 0 0 25px;
    padding: 0;
}
.column div:first-child {
    margin-left: 0;
}
.column div span {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: -1;
    display: block;
    width: 300px;
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
}
figure {
    width: 300px;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
figure:hover+span {
    bottom: -30px;
    opacity: 1;
}



/* Zoom Out #2 */


.hover04 figure img {
    width: 400px;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover04 figure:hover img {
    width: 300px;
}
.btn {
    border-radius: 5px;
    padding: 5px 6px;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
    color: #1b6d85;
    position: relative;
    display: inline-block;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.blue {
    background-color: #55acee;
    box-shadow: 0px 2px 0px 0px #3C93D5;
}

.blue:hover {
    background-color: #6FC6FF;

}
.shop-heading{
   font-family: Anton;
    margin-bottom: 40px;
    color: #2e6da4;
    font-size: 45px;
}


.product-title{
    font-family: Anton;
    font-size: 25px;
}
.pro-price{

    font-size: 20px;
}
.pro-details{
    font-family: Cambria;
    font-size: 15px;
}
.pro-img {
    width: 470px;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.pro-img:hover {
    width: 450px;
}

/*
reponsive
*/

@media (min-width: 320px) and (max-width: 480px){
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        background-color: white;
    }
    .navbar {
        font-size: 8px;

    }
    .footer_wrapper
{
    margin-left: 9px;
}
    .foot-pro3{
        padding-left: 9px;

    }
    .ex {
        margin-left: 69px;

    }
    .login{
        width: 20px;
        height: 20px;
    }
    .search{
        width: 20px;
        height: 20px;
    }
    input[type=text], input[type=email], input[type=password], .register textarea{
        width: 237px;
    }
    figure{
        height: 186px;
        margin-bottom: -37px;
    }
    .cart-img{
        margin-left: 20px;
    }
    .pro-img {
        width: 182px;

    }
    .pro-img:hover {
        width: 195px;

    }
    .shop-heading{

        font-size: 30px;
        margin-right: 66px;
    }
    .pro-details {

        font-size: 14px;
        width: 220px;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .login{
        width: 20px;
        height: 20px;
    }
    .search{
        width: 20px;
        height: 20px;
    }
    .navbar .brand h1{
        font-size: 18px;
        margin-top: 14px;
        margin-right: 34px;
    }
    .navbar .links > li{
        padding: 15px 1px;
    }
    .navbar .links{
        width: 72%;
    }
    .column{
        margin: 15px 10px 0;
    }
}
